.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  padding: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo {
  max-width: 115px;
}

.buttonHeader {
  background-color: #e9ecef;
  color: #5b6166;
  border: none;
  border-radius: 8px;
  padding: 0px 8px;
  cursor: pointer;
}
